.stack-container {
    /* position: relative;
    perspective: 600px; */
    position: absolute;
    perspective: 600px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .card-rotate {
    position: absolute;
    cursor: grab;
  }
  
  .card {
    border-radius: 20px;
    border: 5px solid #fff;
    overflow: hidden;
  }
  
  .card-image {
    pointer-events: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /* .step-default {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  } */